@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@800&display=swap");

footer {
  background-color: var(--color-primary);
  padding: 3rem 0;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 7rem;
}

footer a {
  color: var(--color-bg);
}

.footer-logo {
  font-family: "Handjet", cursive;
  font-size: 3.6rem;
  font-weight: 800;
  margin-bottom: 2rem;
  display: inline-block;
}

.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;
}

.footer-socials {
  display: flex;
  justify-content: center;
  flex-wrap: 1rem;
  margin-bottom: 4rem;
  gap: 1rem;
}

.footer-socials a {
  background-color: var(--color-bg);
  color: var(--color-white);
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
  transition: var(--transition);
}

.footer-socials a:hover {
  background-color: transparent;
  color: var(--color-bg);
  border-color: var(--color-bg);
}

.footer-copyright {
  margin-bottom: 4rem;
  color: var(--color-bg);
}

/* ============== MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 600px) {
  .permalinks {
    flex-direction: column;
    gap: 1.5rem;
  }

  .footer-socials {
    margin-bottom: 2.6rem;
  }
}
